<div class="row">
  <div class="col-md-6">
    <h4>
      <span class="fa fa-building"></span> Employee
    </h4>
  </div>
</div>
<table class="table table-bordered cms-table">
  <thead>
    <th>Title</th>
    <th> Start Date</th>
    <th>End Date</th>
    <th>Status </th>
    <th>Mid year review status</th>
    <!-- <th>Expiry Date </th> -->
    <th>Full year review status</th>

    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let cycle of cycles;let i = index;">
      <td>
        <a [routerLink]="['performance-review']">{{cycle.performanceCycleTitle}}</a>
      </td>
      <td>{{cycle.performanceCycleStartDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{cycle.performanceCycleEndDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{cycle.userPerfCycleStatus?.description}}</td>
      <td>{{cycle.performanceCycleMidYearStatus}}</td>
      <td>{{cycle.userPerfCycleFullYearStatus}}</td>

      <td>
        <span class="fa fa-trash btn btn-sm btn-outline-danger" (click)="removeCycle(cycle)" data-toggle="tooltip" title="Delete"></span>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" [routerLink]="['add-performance-cycle']">Add</button>