@import './../../_common';

html{
    font-family: sans-serif;
}
.content{
    border-color: $pmsColor;
}

thead {
    background-color: $pmsColor;
    color: white;
}

.btn {
    &:hover {
        background-color: $pmsColor;
    }
}

// .card-header{
//     background-color: $pmsColor;
//     color: #fff;
//     .fa{
//         color:#fff;
//     }
//     .btn-link{
//         color: #fff;
//     }
// }
.nav-tabs {
    border-bottom: 1px solid $pmsColor;
    .nav-link {
        border-color: $pmsColor;
        color:  $pmsColor;
        cursor: pointer;
        &:hover, &.active{
            color:white !important;
            background-color: $pmsColor;
            border-color: $pmsColor;
        }
       
       
    }
}
