<div class="row pr-1 pb-3 pt-3 zero-margin">
    <div class="col-3" style="vertical-align:middle">
        <img src="./assets/images/logo.png" alt="gotorisk.co.uk" class="user-image"/>
    </div>
    <div class="col-6" style="vertical-align:middle;">
        <span>{{userDetails.loginId}}</span><br>
        <span class="fa fa-circle text-success" > Online</span>
    </div>
    <div class="col-3">
        <button class="btn float-right btn-info btn-sm" style="vertical-align:middle" (click)="logOut()">
            <span class="fa fa-power-off "></span>
        </button>
        
    </div>
</div>
<div class="navbar">
    <ul>
        <li [ngClass]="{active:thisView=='document'}">
            <a [routerLink]="['/cms/document']" title="">
                <i class="fa fa-file"></i> Document
            </a>
        </li>       
    </ul>

</div>