<h5>Reported Incident(s)</h5>
<table class="table table-bordered cms-table">
  <thead>
    <th>Incident ID</th>
    <th>Inc Desc</th>
    <th>Date Opened</th>
    <th>Inc Type </th>
    <th>Inc Status</th>
  </thead>
  <tbody>
    <tr>
      <td>
        IN01012018
      </td>
      <td> Desc 1</td>
      <td>01/01/2017</td>
      <td>Other</td>
      <td>New</td>
     
    </tr>
  </tbody>
</table>
<h5>Suspect to Incident(s)</h5>
<table class="table table-bordered cms-table">
  <thead>
    <th>Incident ID</th>
    <th>Inc Desc</th>
    <th>Date Opened</th>
    <th>Inc Type </th>
    <th>Inc Status</th>
  </thead>
  <tbody>
    <tr>
      <td>
        IN01012018
      </td>
      <td> Desc 1</td>
      <td>01/01/2017</td>
      <td>Other</td>
      <td>New</td>
     
    </tr>
  </tbody>
</table>
<h5>Injured due to accident(s)</h5>
<table class="table table-bordered cms-table">
  <thead>
    <th>Incident ID</th>
    <th>Accident Desc</th>
    <th>Date Opened</th>
    <th>Inc Type </th>
    <th>Inc Status</th>
  </thead>
  <tbody>
    <tr>
      <td>
        IN01012018
      </td>
      <td> Desc 1</td>
      <td>01/01/2017</td>
      <td>Other</td>
      <td>New</td>
     
    </tr>
  </tbody>
</table>
<h5>Witness to Incident(s)</h5>
<table class="table table-bordered cms-table">
  <thead>
    <th>Incident ID</th>
    <th>Accident Desc</th>
    <th>Date Opened</th>
    <th>Inc Type </th>
    <th>Inc Status</th>
  </thead>
  <tbody>
    <tr>
      <td>
        IN01012018
      </td>
      <td> Desc 1</td>
      <td>01/01/2017</td>
      <td>Other</td>
      <td>New</td>
     
    </tr>
  </tbody>
</table>
<h5>Crime suspect to Incident(s)</h5>
<table class="table table-bordered cms-table">
  <thead>
    <th>Incident ID</th>
    <th>Crime Desc</th>
    <th>Date Opened</th>
    <th>Inc Type </th>
    <th>Inc Status</th>
  </thead>
  <tbody>
    <tr>
      <td>
        IN01012018
      </td>
      <td> Desc 1</td>
      <td>01/01/2017</td>
      <td>Other</td>
      <td>New</td>
     
    </tr>
  </tbody>
</table>
<h5>Witness to crime(s)</h5>
<table class="table table-bordered cms-table">
  <thead>
    <th>Incident ID</th>
    <th>Crime Desc</th>
    <th>Date Opened</th>
    <th>Inc Type </th>
    <th>Inc Status</th>
  </thead>
  <tbody>
    <tr>
      <td>
        IN01012018
      </td>
      <td> Desc 1</td>
      <td>01/01/2017</td>
      <td>Other</td>
      <td>New</td>
     
    </tr>
  </tbody>
</table>
<h5>Investigator for Incident(s)</h5>
<table class="table table-bordered cms-table">
  <thead>
    <th>Incident ID</th>
    <th>Inc Desc</th>
    <th>Date Opened</th>
    <th>Inc Type </th>
    <th>Inc Status</th>
  </thead>
  <tbody>
    <tr>
      <td>
        IN01012018
      </td>
      <td> Desc 1</td>
      <td>01/01/2017</td>
      <td>Other</td>
      <td>New</td>
     
    </tr>
  </tbody>
</table>
<h5>Claim handler for Incident(s)</h5>
<table class="table table-bordered cms-table">
  <thead>
    <th>Incident ID</th>
    <th>Inc Desc</th>
    <th>Date Opened</th>
    <th>Inc Type </th>
    <th>Inc Status</th>
  </thead>
  <tbody>
    <tr>
      <td>
        IN01012018
      </td>
      <td> Desc 1</td>
      <td>01/01/2017</td>
      <td>Other</td>
      <td>New</td>
     
    </tr>
  </tbody>
</table>