<app-header class="d-none d-lg-block"></app-header>
<div class="row view cont">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <!-- Single Banner -->
                    <div class="single-banner">
                        <a href="/lms"><img src="/assets/images/banner1.png" alt="LMS"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- Single Banner -->
                    <div class="single-banner">
                        <a href="/ims"><img src="/assets/images/banner2.png" alt="IMS"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- Single Banner -->
                    <div class="single-banner">
                        <a href="/ams"><img src="/assets/images/banner3.png" alt="AMS"></a>
                    </div>
                </div>

            </div>

            <br>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <!-- Single Banner -->
                    <div class="single-banner">
                        <a href="/cms"><img src="/assets/images/banner4.png" alt="CMS"></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <!-- Single Banner -->
                    <div class="single-banner">
                        <a href="/pms"><img src="/assets/images/banner5.png" alt="PMS"></a>
                    </div>
                </div>


            </div>

        </div>
</div>
