<div class="row pb-3">
  <div class="col-md-12">
    <h4>
      <span class="fa fa-address-book-o"></span> Admin Team |
      <button class="btn btn-sm btn-primary" [routerLink]="['add-investigation-team']">
        <span class="fa fa-plus"></span>Add</button>
    </h4>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let team of teamList; let ind = index;">
      <td>
        <a [routerLink]="['edit-investigation-team',team.id]">{{team.teamName}}</a>
      </td>
      <td>
        {{team.teamDescription}}
      </td>
      <td>
        <span class="btn btn-outline-danger fa fa-trash" (click)="deleteTeam(team,ind)"></span>
      </td>
    </tr>
  </tbody>
</table>
<ng-pagination [position]="'left'" [pageSize]="10" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>