<table class="table table-bordered cms-table">
  <tbody>
    <tr>
      <td>
        Start Date
      </td>
      <td>
        {{cycle?.performanceCycleStartDate | date: 'dd/MM/yyyy'}}
      </td>
    </tr>
    <tr>
      <td>
        End Date
      </td>
      <td>
        {{cycle?.performanceCycleEndDate | date: 'dd/MM/yyyy'}}
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        {{cycle?.performanceCycleStatus}}
      </td>
    </tr>
    <tr>
      <td>
        Mid Year Open?
      </td>
      <td>
        {{cycle?.performanceCycleMidYearStatus}}
      </td>
    </tr>
    <tr>
      <td>
        Full Year Open?
      </td>
      <td>
        {{cycle?.performanceCycleFullYearStatus}}
      </td>
    </tr>
    <!-- <tr>
      <td>
        Manager
      </td>
      <td>
        Karthik
      </td>
    </tr> -->
  </tbody>
</table>
<div class="row">

  <div class="col-md-6">
    <h4>
      <span class="fa fa-building"></span> Employee | Performance Review
    </h4>
  </div>
</div>

<ul class="row nav nav-tabs mb-2">
  <li class="nav-item" (click)="changeTab(tab)" *ngFor="let tab of tabs">
    <a class="nav-link" [ngClass]="{'active': currentTab.tab == tab.tab}">{{tab.name}}</a>
  </li>
</ul>
<div *ngIf="cycle">
  <app-goal-details [cycle]="cycle" [userPerformanceCycleId]="Id" [isManager]="isManager" *ngIf="currentTab.tab == 1"></app-goal-details>
  <app-incidents [cycle]="cycle" *ngIf="currentTab.tab == 4"></app-incidents>
  <app-360-feedback [cycle]="cycle" *ngIf="currentTab.tab == 2"></app-360-feedback>
  <app-document [cycle]="cycle" [userPerformanceCycleId]="Id" *ngIf="currentTab.tab == 3"></app-document>
  <app-lms-details [cycle]="cycle" *ngIf="currentTab.tab == 5"></app-lms-details>
</div>