<div class="row pr-1 pb-3 pt-3 zero-margin">
    <div class="col-3" style="vertical-align:middle">
        <img src="./assets/images/logo.png" alt="gotorisk.co.uk" class="user-image" />
    </div>
    <div class="col-6" style="vertical-align:middle;">
        <span>{{userDetails.roles[0].roleName}}</span>
        <br>
        <span class="fa fa-circle text-success"> Online</span>
    </div>
    <div class="col-3">
        <button class="btn float-right btn-info btn-sm" style="vertical-align:middle" (click)="logOut()">
            <span class="fa fa-power-off "></span>
        </button>

    </div>
</div>
<div class="navbar">
    <ul>
        <li [ngClass]="{active:thisView=='dashboard'}">
            <a [routerLink]="['/lms/dashboard']" title="">
                <i class="fa fa-tasks"></i> Dashboard
            </a>
        </li>
        <li [ngClass]="{active:thisView=='progress'}">
            <a [routerLink]="['/lms/progress']" title="">
                <i class="fa fa-lock"></i> Progress
            </a>
        </li>
        <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Courses</a>
        <!-- <li [ngClass]="{active:thisView=='courses'}"> -->
            <!-- <a [routerLink]="['/lms/courses']" title="">
                <i class="fa fa-users"></i> Courses
            </a> -->
            <ul class="collapse list-unstyled" id="homeSubmenu">
                    <a [routerLink]="['/lms/courses']" title="">
                        <i class="fa fa-lock"></i> Course
                    </a>
                    <a [routerLink]="['/lms/my-course']" title="">
                        <i class="fa fa-add"></i> My Course
                    </a>
                   
                </ul>
        </li>
        <li [ngClass]="{active:thisView=='supervisor'}">
            <a [routerLink]="['/lms/supervisor']" title="">
                <i class="fa fa-user"></i> Supervisor
            </a>
        </li>
        <li [ngClass]="{active:thisView=='admin'}">
            <a [routerLink]="['/lms/admin']" title="">
                <i class="fa fa-commenting-o"></i> Reports
            </a>
        </li>
       
    </ul>

</div>