<h5>Feedback Requests</h5>
<table class="table table-bordered">
  <thead>
    <th>S.No</th>
    <th>Give Feedback</th>
    <th>Date</th>

  </thead>
  <tbody>
    <tr *ngFor="let feed of feedbackQueue; let ind = index;">
      <td>{{ind + 1}}</td>
      <td>
        <a [href]="feed.url" target="_blank">Click to give feedback</a>
      </td>
      <td>{{feed.feedbackStatus}}</td>
    </tr>
  </tbody>

</table>
<ng-pagination *ngIf="itemsCount" [position]="'left'" [pageSize]="pageSize" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>