<h5>Feedback Requests</h5>
<table class="table table-bordered">
  <thead>
    <th>S.No</th>
    <th>Requested By</th>
    <th>Date</th>
    <th>View</th>
  </thead>
  <tbody>
    <tr *ngFor="let feed of feedbackQueue; let ind = index;">
      <td>{{ind + 1}}</td>
      <td>{{feed.user}}</td>
      <td>{{feed.feedbackStatus}}</td>
      <td>
        <span class="btn btn-outline-info btn-sm fa fa-eye"></span>
      </td>

    </tr>
  </tbody>

</table>
<ng-pagination *ngIf="itemsCount" [position]="'left'" [pageSize]="pageSize" [itemsCount]="itemsCount" (getPageData)="getPageData($event)"></ng-pagination>