<div class="col s12">
  <table class="table table-bordered cms-table">
    <tbody>
      <tr>
        <td>
          Start Date
        </td>
        <td>
          {{cycle?.performanceCycleStartDate | date:'dd/MM/yyyy'}}
        </td>
      </tr>
      <tr>
        <td>
          End Date
        </td>
        <td>
          {{cycle?.performanceCycleEndDate | date:'dd/MM/yyyy'}}
        </td>
      </tr>
      <tr>
        <td>
          Status
        </td>
        <td>
          {{cycle?.performanceCycleStatus}}
        </td>
      </tr>
      <tr>
        <td>
          Mid Year Open?
        </td>
        <td>
          {{cycle?.performanceCycleMidYearStatus}}
        </td>
      </tr>
      <tr>
        <td>
          Full Year Open?
        </td>
        <td>
          {{cycle?.performanceCycleFullYearStatus}}
        </td>
      </tr>
      <tr>
        <td>
          Manager
        </td>
        <td>
          {{cycle?.managerFullName}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col s12">
  <table class="table table-bordered cms-table">
    <thead>
      <th>User Id</th>
      <th> Full Name</th>
      <th>Phone</th>
      <th>Email </th>
      <th>Mid year review submitted</th>
      <!-- <th>Expiry Date </th> -->
      <th>Full year review submitted</th>

      <th>Status</th>
    </thead>
    <tbody *ngFor="let c of performanceCycles; let i = index;">
      <tr>
        <td>
          <a *ngIf="c?.userPerfCycleId && c?.userLoginId" [routerLink]="['/pms/manager/manager-subview',c?.userPerfCycleId,c?.userLoginId]">{{c.userLoginId}}</a>
          <a *ngIf="!c?.userPerfCycleId && c?.userLoginId">{{c.userLoginId}}</a>
        </td>
        <td>{{c.userFullName}}</td>
        <td>{{c.userPhone}}</td>
        <td>
          <a href="mailto:{{c.userEmail}}">{{c.userEmail}}</a>
        </td>
        <td>{{c.performanceCycleMidYearStatus == 'N' ? 'No' : 'Yes'}}</td>
        <td> {{c.performanceCycleFullYearStatus == 'N' ? 'No' : 'Yes'}} </td>

        <td>
          {{c.userPerfCycleStatus != null ? c.userPerfCycleStatus.description : null }}

        </td>
      </tr>
    </tbody>
  </table>
</div>