@import './../../../../_common';
.row{
        @extend .zero-margin;
        height: 100%;
}

.dashboard{
    padding-bottom: 30px;
        img{
                height: 200px;
        }
}

.content{
    border-color: $pmsColor;
}

thead {
    background-color: $pmsColor;
    color: white;
}

.btn {
    &:hover {
        background-color: $pmsColor;
    }
}