@import './../../../../assets/styles/pms';
.row {
    @extend .zero-margin;
}

.dashboard {
    img {
        height: 200px;
    }
}

.side-nav {
    border: 15px solid;
    border-color: #9e1d90;
}

a{
    color: #9e1d90 !important;
}