<app-header [module]="module" class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block side-nav-pms">
    <app-side-nav [thisView]="'dashboard'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'dashboard'"></app-sm-menu>
  </div>
  <div class="col-lg-10 pl-0 pr-0 col-md-12 content">
    <div class="row dashboard">
      <div class="col-sm-12 col-md-6 text-center" *ngIf="isAdmin">
        <a [routerLink]="['/pms/admin']">
          <img src="./assets/images/Admin-V1.png" alt="Admin">
          <h4>Admin</h4>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 text-center" *ngIf="isSupervisor">
        <a [routerLink]="['/pms/manager']">
          <img src="./assets/images/Manager-V1.png" alt="Manager">
          <h4>Manager</h4>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <a [routerLink]="['/pms/employee']">
          <img src="./assets/images/Employee-V1.png" alt="Employee">
          <h4>Employee</h4>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <a [routerLink]="['/pms/feedback']">
         
          <img src="./assets/images/Feedback-V1.png" alt="Feedback">
      
          <h4>Feedback</h4>
        </a>
      </div>
    </div>
  </div>
</div>