<app-header class="d-none d-lg-block"></app-header>
<div class="row view">
  <div class="col-lg-2 pl-0 pr-0 d-none d-lg-block">
    <app-side-nav [thisView]="'dashboard'"></app-side-nav>
  </div>
  <div class="col-lg-2 pl-0 pr-0 d-lg-none">
    <app-sm-menu [thisView]="'dashboard'"></app-sm-menu>
  </div>
  <div class="col-lg-10 pl-0 pr-0 col-md-12 content">
    <div class="row dashboard">
      <div class="col-sm-12 col-md-6 text-center">
        <a [routerLink]="['/pms/admin']">
          <span class="fa fa-6 fa-lock"></span>
          <h4>Admin</h4>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <a [routerLink]="['/pms/manager']">
          <span class="fa fa-6 fa-users"></span>
          <h4>Manager</h4>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <a [routerLink]="['/pms/employee']">
          <span class="fa fa-6 fa-user"></span>
          <h4>Employee</h4>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <a [routerLink]="['/pms/feedback']">
          <span class="fa fa-6 fa-commenting-o"></span>
          <h4>Feedback</h4>
        </a>
      </div>
    </div>
  </div>
</div>